.container-fluid .nav_top {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(0, 0, 78);
    display: inline-block;
}

header i{
    color: darkorange;
    display: block;
}

header div div div{
    margin: 0 20px;
}

header span{
    color: white;
    display: block;
    padding: 0.5px;
}

div .envelope{
    width: 100px;
    height: auto;
    float: left;
}
div .phone{
    width: 100px;
    height: auto;
    float: left;
}
div .cart{
    width: 100px;
    height: auto;
    float: right;
}
div .user{
    width: 100px;
    height: auto;
    float: right;
}

